# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/target/
backend/.mvn/
*.class

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Secrets
.env
*.env
application-local.properties